/** ------------------------------------------------------------
##  TAILWIND CSS
--------------------------------------------------------- */

@import 'tailwindcss/preflight';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** ------------------------------------------------------------
##  CUSTOM CLASSES
--------------------------------------------------------- */
@import 'vue-backtotop/src/styles.css';
@font-face {
    font-family: my-font;
    src: url(~assets/font/Helvetica_Bold.ttf);
	font-weight: 700;
}
@font-face {
    font-family: my-font;
    src: url(~assets/font/arial.ttf);
}

html {
	font-family: my-font;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	overflow-x: hidden;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
h1 {
	font-size: 4rem;
}
h2 {
	@apply text-4xl
}
p {
	@apply leading-normal
}
.btn {
	box-shadow: inset 0 0 1rem config('colors.gold-50'), 0 0 1rem config('colors.gold-50');
	transition: all 0.3s;
	@apply text-white border-2 border-gold bg-transparent py-2 px-4
}
.btn:focus {
	@apply outline-none
}
.btn:hover {
	box-shadow: inset 0 0 0 config('colors.gold-50'), 0 0 1.5rem config('colors.gold-70');
	@apply bg-gold
}
.btn:disabled {
	@apply cursor-not-allowed
}
.bg-goldblock {
	background-image: url(~assets/img/bg-goldblock.jpg);
	@apply bg-cover bg-center py-16 text-white
}
.bg-contact {
	background-image: url(~assets/img/bg-contact.jpg);
	@apply bg-cover bg-center
}
.form-control {
	@apply bg-transparent text-white border-b border-gold w-full py-2 mb-4 outline-none
}
.form-control::placeholder {
	@apply text-white opacity-100
}